{% extends 'pawpal_app/base.html' %}
{% load static %}

{% block title %}Pawpal - Sign Up{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-card signup-card">
        <h1 class="auth-title">Sign Up</h1>
        <form action="/signup/" method="post">
            {% csrf_token %}
            <input type="text" id="email" name="email" placeholder="Email / Username">
            <input type="password" id="password" name="password" placeholder="Password">
            <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
            <input type="text" id="name" name="first_name" placeholder="Name">
            <input type="text" id="surname" name="last_name" placeholder="Surname">
            <button type="submit" class="auth-button">Sign Up</button>
        </form>
        <div class="auth-separator">or</div>
        <a href="#" class="social-button google-button">
            <img src="{% static 'images/icons/google_icon.png' %}" alt="Google">
            Continue with Google
        </a>
        <a href="#" class="social-button facebook-button">
            <img src="{% static 'images/icons/facebook_icon.png' %}" alt="Facebook">
            Continue with Facebook
        </a>
        <p class="auth-footer">Already have an account? <a href="/login/">Log In</a></p>
    </div>
</div>
{% endblock %}